@model LUANVANTOTNGHIEP_VODUCANKHANG.Models.Khachhang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="container-fluid pt-4 px-4">Delete</h1>

<h3 class="container-fluid pt-4 px-4">Are you sure you want to delete this?</h3>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Xác nhận xóa tài khoản quản trị</h6>
                <table class="table">

                    <tbody>
                        <tr>
                            <td> Họ Và Tên</td>
                            <td>@Model.Hovaten  </td>
                        </tr>
                        <tr>
                            <td> Ngày Sinh</td>
                            <td>@Model.Ngaysinh</td>
                        </tr>
                        <tr>
                            <td> Địa Chỉ</td>
                            <td>@Model.Diachi</td>
                        </tr>
                        <tr>
                            <td> Email</td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td> Số Điện Thoại</td>
                            <td>@Model.Sodienthoai</td>
                        </tr>
                        <tr>
                            <td> Lần Đăng Nhập Gần Nhất</td>
                            <td>@Model.Landangnhapgannhat</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="KhachhangId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </form>
</div>
