@*@model IEnumerable<LUANVANTOTNGHIEP_VODUCANKHANG.Models.Tintuc>*@

@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<LUANVANTOTNGHIEP_VODUCANKHANG.Models.Tintuc>
@{
    ViewData["Title"] = "Danh Sách Tin Tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (User.Identity.IsAuthenticated == true)
{
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h1 class="mb-4">Quản Lý Tin Tức</h1>
            <span class="breadcrumb-item active">Danh sách tin tức: Page @ViewBag.CurrentPage</span>
            <a class="btn btn-primary" asp-controller="AdminTintucs" asp-action="Create"><i class="icon_folder-add"></i><span>Thêm Tin Tức Mới </span></a>
            <br />
            <div>
                <form asp-controller="AdminTintucs" asp-action="Index" class="col-12" style="margin-top:10px;">
                    <input type="text" id="searchTintuc" name="searchTintuc" placeholder="Search..." style="border-radius:3px;" />
                    @*<input id="searchTintuc" class="searchTintuc form-control bg-dark border-0" type="text" placeholder="Search" />*@
                    <button type="submit" class="btn btn-success" style="margin-top:5px;">Search</button>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID TIN TỨC</th>
                            <th scope="col">TÊN TIN TỨC</th>
                            <th scope="col">NỘI DUNG</th>
                            <th scope="col">HÌNH ẢNH</th>
                            <th scope="col">TIÊU ĐỀ</th>
                            <th scope="col">NGÀY TẠO TIN TỨC</th>

                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.TintucId</th>
                                    <td>@item.Tentintuc</td>
                                    <td>@item.Noidung</td>
                                    <td>
                                        <img width="200" height="200" src="~/images/TinTuc/@item.Hinhanhtintuc" alt="@item.Hinhanhtintuc" />
                                    </td>
                                    <td>@item.Tieude</td>
                                    <td>@item.Ngaytaotintuc </td>

                                    <td>
                                        <a class="btn btn-primary rounded-pill m-2" asp-area="Admin" asp-controller="AdminTintucs" asp-action="Details" asp-route-id="@item.TintucId">VIEW</a>
                                        <a class="btn btn-warning rounded-pill m-2" asp-area="Admin" asp-controller="AdminTintucs" asp-action="Edit" asp-route-id="@item.TintucId">SỬA </a>
                                        <a class="btn btn-danger rounded-pill m-2" asp-area="Admin" asp-controller="AdminTintucs" asp-action="Delete" asp-route-id="@item.TintucId">XÓA</a>

                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="pager-controller" list="@Model" asp-area="Admin" asp-controller="AdminTintucs" asp-action="Index"></pager>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <a href="/login-admin.html" class="btn btn-outline-light btn-lg px-5">Login</a>



                            </div>

                            <p>Vui Lòng Đăng Nhập Để Sử Dụng Dịch Vụ</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



