@model List<LUANVANTOTNGHIEP_VODUCANKHANG.ModelViews.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (Model != null && Model.Count() > 0)
                {
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Tên Sản Phẩm</th>
                                    <th>Hình Ảnh</th>
                                    <th>Giá Tiền</th>
                                    <th>Số Lượng</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null & Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        string url = $"/{item.product.Tensanpham}-{item.product.SanphamId}.html";
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img src="img/cart/cart-1.jpg" alt="">
                                                <a href="@url"> <h5>@item.product.Tensanpham</h5></a>
                                            </td>
                                            <td class="shoping__cart__item">
                                                <a href="@url">  <img src="~/images/HinhAnh/@item.product.Hinhanh" alt=""></a>
                                                
                                            </td>
                                            <td class="shoping__cart__price">
                                                <span class="amount">@item.product.Giatien.Value.ToString("#,##0") VND</span>
                                            </td>


                                            <td class="cartItem shoping__cart__quantity">
                                                <div class="cartItem quantity">
                                                    <div class="pro-qty">
                                                        <input data-mahh="@item.product.SanphamId" data-dongia="@item.product.Giatien"
                                                               class="cartItem" min="1" type="number" value="@item.amount">

                                                    </div>
                                                </div>
                                            </td>



                                            <td class="shoping__cart__total">
                                                <span class="amount cartItem">@item.TotalMoney.ToString("#,##0") VND</span>
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                <div>
                                                    @*<input data-mahh="@item.product.SanphamId" 
                                                           class="removecart btn btn-primary"  type="button" value="X">*@

                                                    <input type="button" value="X" id="@item.product.SanphamId" 
                                                           class="removecart btn btn-primary" data-mahh="@item.product.SanphamId" />
                                                </div>
                                              
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p style="text-align:center;">Chưa có hàng hóa trong giỏ hàng!</p>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/shop.html" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                   
                </div>
            </div>

            <div class="col-lg-12">
                <div class="shoping__checkout">
                    <h5>TỔNG TIỀN</h5>
                    <ul>
                        <li>Subtotal <span class="amount">@Model.Sum(x => x.TotalMoney).ToString("#,##0") VND</span></li>

                    </ul>
                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <a href="/checkout.html" class="primary-btn">THANH TOÁN</a>
                    }
                    else
                    {
                        <a href="/dang-nhap.html?returnUrl=/checkout.html" class="primary-btn">Bạn Chưa Đăng Nhập</a>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

@section Scripts{
    <script>
        $(function () {
            function loadHeaderCart() {
                $("#miniCart").load("/AjaxContent/HeaderCart");
                $("#numberCart").load("/AjaxContent/NumberCart");
            }
          

            $(".removecart").click(function () {
                var productid = $(this).attr("data-mahh");

               
                $.ajax({
                    url: "api/cart/remove",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                       
                    },
                    success: function (result) {
                        if (result.success) {
                            loadHeaderCart();
                            window.location = 'cart.html';
                        }
                    },
                    error: function (rs) {
                        alert("Cap nhat cart error!");
                    }
                });
            });


            $(".cartItem").click(function () {
                var productid = $(this).attr("data-mahh");

                var soluong = parseInt($(this).val());
                $.ajax({
                    url: "api/cart/update",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soluong
                    },
                    success: function (result) {
                        if (result.success) {
                            loadHeaderCart();
                            window.location = 'cart.html';
                        }
                        else {
                            alert("Sản phẩm hiện có không đủ, Bạn có thể chọn sản phẩm cùng loại để thay thế. Xin lỗi quý khách!")
                        }
                    },
                    error: function (rs) {
                        alert("Cap nhat cart error!");
                    }
                });
            });

        });
    </script>

}