@model LUANVANTOTNGHIEP_VODUCANKHANG.Models.Sanpham

@{
    ViewData["Title"] = Model.Tensanpham;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Sanpham> dssanphamlienquan = ViewBag.Sanphamlienquan;
}


<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="~/images/HinhAnh/@Model.Hinhanh" alt="@Model.Hinhanh">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="Assets/img/product/details/product-details-2.jpg"
                             src="~/images/HinhAnh/@Model.Hinhanh" alt="@Model.Hinhanh">
                        <img data-imgbigurl="Assets/img/product/details/product-details-3.jpg"
                             src="~/images/HinhAnh/@Model.Hinhanh" alt="@Model.Hinhanh">
                        <img data-imgbigurl="Assets/img/product/details/product-details-5.jpg"
                             src="~/images/HinhAnh/@Model.Hinhanh" alt="@Model.Hinhanh">
                        <img data-imgbigurl="Assets/img/product/details/product-details-4.jpg"
                             src="~/images/HinhAnh/@Model.Hinhanh" alt="@Model.Hinhanh">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Tensanpham</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">@Model.Giatien.Value.ToString("#,##0") VND </div>
                    <p>
                        @Model.Motasanpham;
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input id="txtsoluong" name="txtsoluong" type="text" value="1">
                            </div>
                        </div>
                    </div>
                    @if (Model.Tonkho == 0)
                    {
                        <div>
                            <a class=" primary-btn">HẾT HÀNG</a>

                        </div>
                    }
                    else 
                    {
                        <div class="add-to-cart">
                            <a href="javascript:void(0)" class="primary-btn">ADD TO CARD</a>
                            <input hidden asp-for="SanphamId" />
                        </div>
                    }

                    <ul>
                        <li><b>Hệ Điều Hành</b><a list="@Model" asp-area="" asp-controller="Product" asp-route-id="@Model.Hedieuhanh.Tenhedieuhanh" asp-action="List"> <span>@Model.Hedieuhanh.Tenhedieuhanh</span></a></li>
                        <li><b>Danh Mục</b> <span>@Model.Danhmuc.Tendanhmuc </span></li>
                        <li><b>Dung Lượng</b> <span>@Model.Dungluong GB</span></li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Reviews <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.Motasanpham
                                </p>
                                <p>
                                    Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                    Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed
                                    porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum
                                    sed sit amet dui. Proin eget tortor risus.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                    sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                    eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                    sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                    diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                    Proin eget tortor risus.
                                </p>
                                <p>
                                    Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                    sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                    eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                    sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                    diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                    Proin eget tortor risus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (dssanphamlienquan != null && dssanphamlienquan.Count() > 0)
            {
                foreach (var item in dssanphamlienquan)
                {
                    string url = $"/{item.Tensanpham}-{item.SanphamId}.html";
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a href="@url"><img src="~/images/HinhAnh/@item.Hinhanh" alt="@item.Hinhanh"></a>
                                <div>
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product__item__text">
                                <h6><a href="@url">@item.Tensanpham</a></h6>
                                <h5>@item.Giatien.Value.ToString("#,##0") VND</h5> @*.ToString("#,##0") VND*@
                            </div>
                        </div>
                    </div>
                }
            }


        </div>
    </div>
</section>
<!-- Related Product Section End -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $(".add-to-cart").click(function () {
                    /*var productid = parseFloat($(this).attr("data-productid"));*/
                    var productid = $('#SanphamId').val();
                    var soluong = $('#txtsoluong').val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            amount: soluong
                        },
                        success: function (response) {
                            loadHeaderCart();
                            location.reload();
                        },
                        error: function (error) {
                            alert("Có một lỗi đã xảy ra:" + error.responseText);
                        }
                    });
                });
            });
            function loadHeaderCart() {
                $("#miniCart").load("/AjaxContent/HeaderCart");
                $("#numberCart").load("/AjaxContent/NumberCart");
            };


        });
    </script>
} 