@*@model IEnumerable<LUANVANTOTNGHIEP_VODUCANKHANG.Models.Sanpham>*@

@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<LUANVANTOTNGHIEP_VODUCANKHANG.Models.Sanpham>
@{
    ViewData["Title"] = "Shop -" + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Danhmuc> danhmucs = ViewBag.CurrentCategory;
   
}


<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="blog__sidebar__search">
                    <form asp-controller="Product" asp-action="Index">
                        <input type="text" id="searchText" name="searchText" placeholder="Search..." />
                        <button type="submit"><span class="icon_search"></span></button>
                    </form>
                </div>
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>DANH MỤC SẢN PHẨM</h4>
                        <ul>
                            @foreach (var item in danhmucs)
                            {
                                <li><a href="/shop.html?catID=@item.DanhmucId">@item.Tendanhmuc</a></li>
                            }



                        </ul>
                    </div>
                    <div style="border:groove;padding-left:70px;">
                        <form asp-controller="Product" asp-action="Index">
                            <div>
                                <label style="color:forestgreen"><b>Loại Sản Phẩm</b></label><br />
                                @foreach (var item in danhmucs)
                                {
                                    <input type="radio" class="btn-check" name="lsp" id="lsp" value="@item.DanhmucId">@item.Tendanhmuc<br />
                                }
                            </div>
                            <br />
                            <div>
                                <label style="color:forestgreen"><b>Dung Lượng</b></label><br />
                                <input type="radio" class="btn-check" name="dl"  id="dl" value="32">32 GB<br />
                                <input type="radio" class="btn-check" name="dl"  id="dl" value="64">64 GB<br />
                                <input type="radio" class="btn-check" name="dl"  id="dl" value="128">128 GB<br />
                                <input type="radio" class="btn-check" name="dl"  id="dl" value="256">256 GB<br />
                                <input type="radio" class="btn-check" name="dl"  id="dl" value="512">512 GB<br />
                                <input type="radio" class="btn-check" name="dl"  id="dl" value="1">1 TB<br />
                            </div>
                            <br />
                            <div>
                                <label  style="color:forestgreen"><b>Giá Tiền</b></label><br />
                                <input type="radio" class="btn-check" name="gt" id="gt" value="2000000">Dưới 2 Triệu<br />
                                <input type="radio" class="btn-check" name="gt" id="gt" value="7000000">Dưới 7 Triệu<br />
                                <input type="radio" class="btn-check" name="gt" id="gt" value="14000000">Dưới 14 Triệu<br />
                                <input type="radio" class="btn-check" name="gt" id="gt" value="20000000">Dưới 20 Triệu<br />
                                <input type="radio" class="btn-check" name="gt" id="gt" value="50000000">Dưới 50 Triệu<br />
                            </div>
                            <br />
                            <button type="submit" style="align-content:center">ÁP DỤNG</button>
                        </form>
                    </div>
                    @*<div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item sidebar__item__color--option">
                        <h4>Colors</h4>
                        <div class="sidebar__item__color sidebar__item__color--white">
                            <label for="white">
                                White
                                <input type="radio" id="white">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--gray">
                            <label for="gray">
                                Gray
                                <input type="radio" id="gray">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--red">
                            <label for="red">
                                Red
                                <input type="radio" id="red">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--black">
                            <label for="black">
                                Black
                                <input type="radio" id="black">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--blue">
                            <label for="blue">
                                Blue
                                <input type="radio" id="blue">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--green">
                            <label for="green">
                                Green
                                <input type="radio" id="green">
                            </label>
                        </div>
                    </div>*@


                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>DANH SÁCH SẢN PHẨM</h2>
                    </div>

                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@Model.Count()</span> Được Tìm Thấy</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{item.Tensanpham}-{item.SanphamId}.html";
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg">
                                        <a href="@url">  <img src="~/images/HinhAnh/@item.Hinhanh" alt="@item.Hinhanh"></a>
                                        <ul class="add-to-cart product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>

                                        </ul>
                                    </div>

                                    <div class="product__item__text">
                                        <h6><a href="@url">@item.Tensanpham</a></h6>
                                        <h5>
                                            @*@item.Giatien.Value.ToString("#,##0") VND*@
                                            @string.Format("{0:0,0 VND}", item.Giatien)

                                        </h5>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <p style="align-items:center; color:forestgreen; font-weight:bold;">Không Có Sản Phẩm Nào Cả. Xin Vui Lòng Thử Lại!<span> 😭</span></p>
                    }


                </div>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="paper-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="" asp-controller="Product" asp-action="Index"></pager>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
@*@section Scripts{
        <script>
            $(document).ready(function () {
                $(function () {
                    $(".add-to-cart").click(function () {
                        /*var productid = parseFloat($(this).attr("data-productid"));*/
                        var productid = $('#SanphamId').val();
                        var soluong = $('#txtsoluong').val();
                        $.ajax({
                            url: '/api/cart/add',
                            type: "POST",
                            dataType: "JSON",
                            data: {
                                productID: productid,
                                amount: soluong
                            },
                            success: function (response) {
                                loadHeaderCart();
                                location.reload();
                            },
                            error: function (error) {
                                alert("Có một lỗi đã xảy ra:" + error.responseText);
                            }
                        });
                    });
                });
                function loadHeaderCart() {
                    $("#miniCart").load("/AjaxContent/HeaderCart");
                    $("#numberCart").load("/AjaxContent/NumberCart");
                };


            });
        </script>

    }*@ 