@model IEnumerable<LUANVANTOTNGHIEP_VODUCANKHANG.Models.Nhanvien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hovaten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matkhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaytao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioitinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phanquyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hovaten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phanquyen.PhanquyenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai.TrangthaiId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaikhoanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaikhoanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaikhoanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
