@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<LUANVANTOTNGHIEP_VODUCANKHANG.Models.Tintuc>
@{
    ViewData["Title"] = "Blog Index -" + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
    List<Tintuc> dstintuclienquan = ViewBag.Tintuclienquan;
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="Assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form asp-controller="Blog" asp-action="Index">
                            <input type="text" id="searchBlog" name="searchBlog" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            @if (dstintuclienquan != null)
                            {
                                foreach (var item in dstintuclienquan)
                                {
                                    string url = $"/tintuc/{item.Tieude}-{item.TintucId}.html";
                                    <a href="@url" class="blog__sidebar__recent__item">
                                        <div class="blog__sidebar__recent__item__pic">
                                            <img width="20" height="20" src="~/images/TinTuc/@item.Hinhanhtintuc" alt="@item.Hinhanhtintuc">
                                        </div>
                                        <div class="blog__sidebar__recent__item__text">
                                            <h6>@item.Tentintuc<br /> @item.Tieude</h6>
                                            <span>@item.Ngaytaotintuc</span>
                                        </div>
                                    </a>
                                }
                            }
                                </div>
                    </div>
                
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/tintuc/{item.Tieude}-{item.TintucId}.html";
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic">
                                        <img src="~/images/TinTuc/@item.Hinhanhtintuc" alt="@item.Tieude">
                                    </div>
                                    <div class="blog__item__text">
                                        <ul>
                                            <li><i class="fa fa-calendar-o"></i>@item.Ngaytaotintuc.Value.ToShortDateString() @*May 4,2019*@</li>
                                            <li><i class="fa fa-comment-o"></i> 5</li>
                                        </ul>
                                        <h5><a href="@url">@item.Tieude</a></h5>
                                        <p>
                                            @item.Noidung
                                        </p>
                                        <a href="@url" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p style="align-items:center; color:forestgreen; font-weight:bold;">Không Có Tin Tức Nào Cả. Xin Vui Lòng Thử Lại!<span>😭😭😭</span></p>
                    }

                </div>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="paper-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="" asp-controller="Blog" asp-action="Index"></pager>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Blog Section End -->
